# dependencies
/node_modules

# production
/build
/dist
.next/
/out

# misc
.DS_Store
.env
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
/coverage

# editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# typescript
*.tsbuildinfo

# eslint / prettier
.eslintcache
.prettiercache

# Mac system files
Icon?
._*

# Optional cache folders
.npm/
.pnp/
.pnp.js
